[Desktop Entry]
Type=Application
Name=Hakchi Desktop (Experimental)
Comment=Manage a NES/SNES Classic game library
Exec=AppRun
Icon=hakchi
Terminal=false
Categories=Game;
